@charset "utf-8";
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(fonts/css/fontello.css);

/* CSS Document */

/*
	Paleta de colores realpixels
	rojo #f15062
	verde #1dae90
	backgraund #394c5a
	negro #42454f
	azul-verde #1dabb8
	azul rgb(50, 157, 196)
	naranja #e76049
*/

$color_primary:	#1dae90;
$color_secondary: #f15062;
$color_base:		rgba(45, 59, 77,1);
$color_fonts:		#2eb398;
$background: 		#eaeaea;

@mixin hover($color) {
  background: saturate( lighten( $color, 5%), 5%);
}

@mixin active($color) {
  background: desaturate( darken( $color, 10%), 15%);
}

$header_height:70px;

::-webkit-scrollbar {
  width: 11px;
  background: rgba(0,0,0,.1);
}

::-webkit-scrollbar-thumb {
  background: $color_primary;
}

::selection {
  background-color: $color_primary;
  color: #fff;
}

body {
	font-family: 'Lato', Calibri, Arial, sans-serif;
	background: $background;
	font-size:14px;
	color: #42454f;
	margin:0;
	padding:0;
}

hr {
	margin: 20px 0px 20px 0px;
	border: 0;
	border-top: 1px solid $color_primary;
	height: 0;
	box-sizing: content-box;
}

a {
	text-decoration: none;
	color:rgb(50, 157, 196);
	transition: all 0.4s ease-in-out;
	color: $color_primary;

	&:hover{
		color: #e76049;
	}
}

header{
	position:fixed;
	background-color:$color_base;
	width:100%;
	z-index:2;
	height:$header_height;
	border-top:3px solid $color_primary;
}

h1,h2,h3,h4,h5,p{
	margin:0px;
	padding:0px;
}

textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
	background-color: #ffffff;
	border: 2px solid #cccccc;
	padding: 6px 8px;
	box-shadow: none;
	transition: border linear .2s, box-shadow linear .2s;
	outline:none;
	border-radius:2px;
	background: #fff;
	font-size: 13px;
	font-weight: 400;
	font-family: "Oswald", sans-serif;
}

input[type="image"]{
	background: #2d9a83;
	color:#2d9a83;
}

.welcome{
	padding-top:20px;
	p{color:$color_primary;}
}

.fixed-header{
	position:relative;
	width:100%;
	height:$header_height;
	margin:0px;
	padding:0px;
}

#resultado{

}

.container{
	position:relative;
	max-width:960px;
	margin: 0px auto;
}

.logout{
	float:right;
	position:relative;
}

.logo{
	color:white;
	font-size:52px;
	display:inline;
	float:left;
	margin-right:20px;
}

.search{
	position:absolute;
	right:0px;
	margin-top:20px;

	input[type="text"]{
		@include hover($color_base);
		border: none;
		transition:all .2s ease-in;
		color:$color_primary;
		position:relative;
		top:0px;
		width:200px;

		&::-webkit-input-placeholder { //modifica el texto del placeholder
			color:white;
		}
		&:focus{
			width:220px;
			background-color:white;
		}
	}
	input[type="submit"]{
		padding: 7px 15px 7px;
	}
}

.enable{}

.disable{}

.delete{}

.empty-event{
	text-align:center;
	font-size:35px;
	color:rgba(0,0,0,.2);
}

.primary{
	width:255px;
	height:500px;;
	position:relative;
	float:left;
	background-color:rgba(0, 0, 0, 0.1);
	display:inline-table;
}
.second{
	width:700px;
	position:relative;
	float:right;
}

.file_upload:before {
	content: 'Cambiar';
	position: relative;
	left: 50px;
	right: 0;
	text-align: center;
	cursor: pointer;
}

.file_upload input {
	position: relative;
	width:70px;
	height:30px;
	display: inline;
	cursor: pointer;
	opacity:0;
}

.avatar{
	position:relative;
	img{
		position:relative;
		border: 8px solid #1bbc9a;
		width: 120px;
		height: 120px;
		border-radius: 100%;
		left: 25%;
		margin-top:10px;
	}
}

.error-parrafo{
	color:#EB4D75;
	font-size:23px;
}

.content-event{
	background-color:$color_base;
	margin-bottom:10px;
	border-radius:3px;
	padding:10px;

	p{
		color:white;
	}

	h5{
		color:$color_secondary;
	}
}

.form-event{
	background-color:$color_primary;
	max-width:700px;
	height:122px;
	position:relative;
	margin:0px 0px 20px 0px;
	border-radius:3px;
	padding:5px;

	form{
		padding:0px;
		margin:0px;
		height:100%;
	}

	form textarea{
		font-size:15px;
		width:100%;
		border: none;
		height: 65px;
		resize:none;
		position:relative;
		display:block;
		margin-bottom:20px;
	}
	input[type="date"]{
		padding: 2px 5px 2px;
		border-radius: 3px;
		border:none;
		box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.9);
	}
	input[type="submit"]{
		font-size: 13px;
		padding: 10px 35px 10px;
		margin-bottom: 3px;
		background: $color_primary;
		border-radius: 3px;
		box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.9);
		float:right;

	}
	&:after{
		content: "";
		position: absolute;
		height: 40px;
		width: 40px;
		top: 0%;
		left: -36px;
		transform: rotate(-90deg);
		width: 0;
		border-left:10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 15px solid $color_primary;
	}
}



textarea:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="datetime"]:focus, input[type="datetime-local"]:focus, input[type="date"]:focus, input[type="month"]:focus, input[type="time"]:focus, input[type="week"]:focus, input[type="number"]:focus, input[type="email"]:focus, input[type="url"]:focus, input[type="search"]:focus, input[type="tel"]:focus, input[type="color"]:focus, .uneditable-input:focus {
	border-color: $color_primary;
	outline: 0;
	box-shadow: none;
}

select:focus, input[type="file"]:focus, input[type="radio"]:focus, input[type="checkbox"]:focus {
	outline: none;
	border: 2px solid $color_primary;
}

input[type="submit"],input[type="image"]{
	font-size: 13px;
	font-weight: 400;
	font-family: "Oswald", sans-serif;
	padding: 5px 22px 10px;
	margin-bottom: 3px;
	display: inline-block;
	cursor: pointer;
	border: 0;
	background: $color_primary;
	color: #fff;
	text-transform: uppercase;
	border-radius: 3px;
	transition: all 0.4s ease-in-out;
	box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
	appearance: none;

	&:hover{
		color: #fff;
		@include hover($color_primary);
	}
	&:active{
		@include active($color_primary);
	}
}


/* ---------- GENERAL ---------- */

h3 { margin: 0; }

fieldset {
	border: none;
	margin: 0;

	a {
		color: #999;

		&:hover {
			color: $color_primary;
		}
	}
}

input {
	border: none;
	font-family: inherit;
	font-size: inherit;
	margin: 0;
	outline: none;
	-webkit-appearance: none;

	&[type="submit"] {
		cursor: pointer;
	}
}

.clearfix {
	zoom: 1;

	&:before, &:after {
		content: "";
		display: table;
	}
	&:after {
		clear: both;
	}
}
/* ---------- LOGIN-FORM ---------- */

#login-form {
	margin: 50px auto;
	width: 300px;

	h3{
		background-color: $color_base;
		border-radius: 5px 5px 0 0;
		color: #fff;
		font-size: 14px;
		padding: 20px;
		text-align: center;
		text-transform: uppercase;
	}
	fieldset {
		background: #fff;
		border-radius: 0 0 5px 5px;
		padding: 20px;
		position: relative;
	}

	fieldset:before {
		background-color: #fff;
		content: "";
		height: 8px;
		left: 50%;
		margin: -4px 0 0 -4px;
		position: absolute;
		top: 0;
		transform: rotate(45deg);
		width: 8px;
	}
	input {
		font-size: 14px;
	}
	input[type = "text"],
	input[type = "email"],
	input[type = "password"] {
		border: 1px solid #dcdcdc;
		padding: 12px 10px;
		width: 238px;
	}
	input[type = "text"],
	input[type = "email"] {
		border-radius: 3px 3px 0 0;
	}
	input[type = "password"] {
		border-top: none;
		border-radius: 0px 0px 3px 3px;
	}
	input[type = "submit"] {
		background: $color_primary;
		border-radius: 3px;
		color: #fff;
		float: right;
		font-weight: bold;
		margin-top: 20px;
		padding: 12px 20px;

		&:hover {
			@include hover($color_primary);
		}
	}
	footer {
		font-size: 12px;
		margin-top: 16px;
	}
} // end #login-form

.info {
	background: #e5e5e5;
	border-radius: 50%;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	margin: 0 10px 0 0;
	text-align: center;
	width: 20px;
}


/*Percent circle*/
// Colors
$barColor: $color_secondary;
$overlayColor: $background;
$backColor: $color_base;

/*body{
  padding: 30px 0;
  background-color: $backColor;
  font-family: 'Noto Sans', sans-serif;
}
.wrap{
  width: 600px;
  margin: 0 auto;
}*/

/* -------------------------------------
 * Bar container
 * ------------------------------------- */
.progress-radial{
  float: left;
  margin-right: 30px;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: $barColor; // default 100%
}
/* -------------------------------------
 * Optional circulo central
 * ------------------------------------- */  
.progress-radial .overlay{
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: $overlayColor;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  line-height: 60px;
  font-size: 16px;
} 
/* -------------------------------------
 * Mixin for progress-% class
 * ------------------------------------- */

$step: 1; 
$loops: 		100 / $step;
$increment: 360 / $loops;
$half: 		$loops / 2;

@for $i from 0 through $loops{
  
  .progress-#{$i * $step}{
		 @if $i < $half{
		 	$nextdeg: 90deg + ( $increment * $i );	
			background-image: linear-gradient(90deg, $backColor 50%, transparent 50%, transparent), 
									linear-gradient($nextdeg, $barColor 50%, $backColor 50%, $backColor);
		}@else{
			$nextdeg: -90deg + ( $increment * ( $i - $half ) );
			background-image: linear-gradient($nextdeg, $barColor 50%, transparent 50%, transparent), 
									linear-gradient(270deg, $barColor 50%, $backColor 50%, $backColor);
		}
	}
}