@charset "UTF-8";


@import url(http://fonts.googleapis.com/css?family=Lato);

@import url(http://fonts.googleapis.com/css?family=Roboto:400,100);

@import url(fonts/css/fontello.css);

/*
	rojo #f15062
	verde #1dae90
	backgraund #394c5a
	negro #42454f
	azul-verde #1dabb8
	azul rgb(50, 157, 196)
	naranja #e76049
	rojo naranja #F0544E
*/

/*------------------------------------*\
 	COLORS
\*------------------------------------*/

/*------------------------------------*\
    MIXIN
\*------------------------------------*/

/* -------------------------------------
 * Hover and Active backgrounds
 * ------------------------------------- */

/* -------------------------------------
 * Long shadow
 * ------------------------------------- */

/* -------------------------------------
 * Progress-% class
 * ------------------------------------- */

.progress-0 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(90deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(90deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-1 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(93.6deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(93.6deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-2 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(97.2deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(97.2deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-3 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(100.8deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(100.8deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-4 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(104.4deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(104.4deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-5 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(108deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(108deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-6 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(111.6deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(111.6deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-7 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(115.2deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(115.2deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-8 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(118.8deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(118.8deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-9 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(122.4deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(122.4deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-10 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(126deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(126deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-11 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(129.6deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(129.6deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-12 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(133.2deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(133.2deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-13 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(136.8deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(136.8deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-14 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(140.4deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(140.4deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-15 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(144deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(144deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-16 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(147.6deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(147.6deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-17 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(151.2deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(151.2deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-18 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(154.8deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(154.8deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-19 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(158.4deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(158.4deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-20 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(162deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(162deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-21 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(165.6deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(165.6deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-22 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(169.2deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(169.2deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-23 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(172.8deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(172.8deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-24 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(176.4deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(176.4deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-25 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(180deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(180deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-26 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(183.6deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(183.6deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-27 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(187.2deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(187.2deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-28 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(190.8deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(190.8deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-29 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(194.4deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(194.4deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-30 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(198deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(198deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-31 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(201.6deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(201.6deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-32 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(205.2deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(205.2deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-33 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(208.8deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(208.8deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-34 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(212.4deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(212.4deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-35 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(216deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(216deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-36 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(219.6deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(219.6deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-37 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(223.2deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(223.2deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-38 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(226.8deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(226.8deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-39 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(230.4deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(230.4deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-40 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(234deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(234deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-41 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(237.6deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(237.6deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-42 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(241.2deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(241.2deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-43 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(244.8deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(244.8deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-44 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(248.4deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(248.4deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-45 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(252deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(252deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-46 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(255.6deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(255.6deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-47 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(259.2deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(259.2deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-48 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(262.8deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(262.8deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-49 {
  background-image: -webkit-linear-gradient(0deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(266.4deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #2d3b4d 50%, transparent 50%, transparent), linear-gradient(266.4deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-50 {
  background-image: -webkit-linear-gradient(180deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-90deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-51 {
  background-image: -webkit-linear-gradient(176.4deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-86.4deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-52 {
  background-image: -webkit-linear-gradient(172.8deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-82.8deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-53 {
  background-image: -webkit-linear-gradient(169.2deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-79.2deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-54 {
  background-image: -webkit-linear-gradient(165.6deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-75.6deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-55 {
  background-image: -webkit-linear-gradient(162deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-72deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-56 {
  background-image: -webkit-linear-gradient(158.4deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-68.4deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-57 {
  background-image: -webkit-linear-gradient(154.8deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-64.8deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-58 {
  background-image: -webkit-linear-gradient(151.2deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-61.2deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-59 {
  background-image: -webkit-linear-gradient(147.6deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-57.6deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-60 {
  background-image: -webkit-linear-gradient(144deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-54deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-61 {
  background-image: -webkit-linear-gradient(140.4deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-50.4deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-62 {
  background-image: -webkit-linear-gradient(136.8deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-46.8deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-63 {
  background-image: -webkit-linear-gradient(133.2deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-43.2deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-64 {
  background-image: -webkit-linear-gradient(129.6deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-39.6deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-65 {
  background-image: -webkit-linear-gradient(126deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-36deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-66 {
  background-image: -webkit-linear-gradient(122.4deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-32.4deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-67 {
  background-image: -webkit-linear-gradient(118.8deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-28.8deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-68 {
  background-image: -webkit-linear-gradient(115.2deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-25.2deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-69 {
  background-image: -webkit-linear-gradient(111.6deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-21.6deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-70 {
  background-image: -webkit-linear-gradient(108deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-18deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-71 {
  background-image: -webkit-linear-gradient(104.4deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-14.4deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-72 {
  background-image: -webkit-linear-gradient(100.8deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-10.8deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-73 {
  background-image: -webkit-linear-gradient(97.2deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-7.2deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-74 {
  background-image: -webkit-linear-gradient(93.6deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(-3.6deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-75 {
  background-image: -webkit-linear-gradient(90deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(0deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-76 {
  background-image: -webkit-linear-gradient(86.4deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(3.6deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-77 {
  background-image: -webkit-linear-gradient(82.8deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(7.2deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-78 {
  background-image: -webkit-linear-gradient(79.2deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(10.8deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-79 {
  background-image: -webkit-linear-gradient(75.6deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(14.4deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-80 {
  background-image: -webkit-linear-gradient(72deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(18deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-81 {
  background-image: -webkit-linear-gradient(68.4deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(21.6deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-82 {
  background-image: -webkit-linear-gradient(64.8deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(25.2deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-83 {
  background-image: -webkit-linear-gradient(61.2deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(28.8deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-84 {
  background-image: -webkit-linear-gradient(57.6deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(32.4deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-85 {
  background-image: -webkit-linear-gradient(54deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(36deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-86 {
  background-image: -webkit-linear-gradient(50.4deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(39.6deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-87 {
  background-image: -webkit-linear-gradient(46.8deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(43.2deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-88 {
  background-image: -webkit-linear-gradient(43.2deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(46.8deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-89 {
  background-image: -webkit-linear-gradient(39.6deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(50.4deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-90 {
  background-image: -webkit-linear-gradient(36deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(54deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-91 {
  background-image: -webkit-linear-gradient(32.4deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(57.6deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-92 {
  background-image: -webkit-linear-gradient(28.8deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(61.2deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-93 {
  background-image: -webkit-linear-gradient(25.2deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(64.8deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-94 {
  background-image: -webkit-linear-gradient(21.6deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(68.4deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-95 {
  background-image: -webkit-linear-gradient(18deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(72deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-96 {
  background-image: -webkit-linear-gradient(14.4deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(75.6deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-97 {
  background-image: -webkit-linear-gradient(10.8deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(79.2deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-98 {
  background-image: -webkit-linear-gradient(7.2deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(82.8deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-99 {
  background-image: -webkit-linear-gradient(3.6deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(86.4deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

.progress-100 {
  background-image: -webkit-linear-gradient(0deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
  background-image: linear-gradient(90deg, #329dc4 50%, transparent 50%, transparent), linear-gradient(270deg, #329dc4 50%, #2d3b4d 50%, #2d3b4d);
}

/*------------------------------------*\
    STYLES
\*------------------------------------*/

::-webkit-scrollbar {
  width: 11px;
  background: rgba(0, 0, 0, 0.1);
}

::-webkit-scrollbar-thumb {
  background: #329dc4;
}

::-moz-selection {
  background-color: #1dae90;
  color: #fff;
}

::selection {
  background-color: #1dae90;
  color: #fff;
}

*:focus {
  border: 0;
  outline: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  background: #eaeaea;
  font-size: 62.5%;
  /* font-size 1em = 10px */
  color: #42454f;
  margin: 0;
  padding: 0;
}

hr {
  margin: 20px 0px 20px 0px;
  border: 0;
  border-top: 1px solid #1dae90;
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
}

a {
  text-decoration: none;
  color: #329dc4;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  color: #1dae90;
}

a:hover {
  color: #329dc4;
}

header {
  position: fixed;
  background-color: #2d3b4d;
  width: 100%;
  z-index: 2;
  height: 70px;
  border-top: 3px solid #1dae90;
  -webkit-box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
  box-shadow: 0px 4px 0px rgba(0, 0, 0, 0.1);
}

h1,
h2,
h3,
h4,
h5,
p {
  margin: 0px;
  padding: 0px;
}

textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
  background-color: #ffffff;
  border: 2px solid #cccccc;
  padding: 6px 8px;
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border linear .2s, -webkit-box-shadow linear .2s;
  transition: border linear .2s, box-shadow linear .2s;
  outline: none;
  border-radius: 2px;
  background: #fff;
  font-size: 1.3em;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
}

input[type="image"] {
  background: #2d9a83;
  color: #2d9a83;
}

.welcome {
  padding-top: 20px;
}

.welcome h1 {
  font-weight: 100;
  font-size: 3em;
}

.welcome p {
  color: #1dae90;
  font-size: 1.5em;
  font-weight: 100;
}

.fixed-header {
  position: relative;
  width: 100%;
  height: 70px;
  margin: 0px;
  padding: 0px;
}

.container {
  position: relative;
  max-width: 960px;
  margin: 0px auto;
}

.logout {
  float: right;
  position: relative;
  font-size: 1.5em;
}

.logo {
  color: white;
  font-size: 5.2em;
  display: inline;
  float: left;
  margin-right: 20px;
  font-family: 'Lato', Calibri, Arial, sans-serif;
}

.search {
  position: absolute;
  right: 0px;
  margin-top: 20px;
}

.search input[type="text"] {
  background: #334761;
  border: none;
  -webkit-transition: all .2s ease-in;
  transition: all .2s ease-in;
  color: #1dae90;
  position: relative;
  top: 0px;
  width: 200px;
}

.search input[type="text"]::-webkit-input-placeholder {
  color: white;
}

.search input[type="text"]:focus {
  width: 220px;
  background-color: white;
}

.search input[type="submit"] {
  padding: 7px 15px 7px;
}

.empty-event {
  text-align: center;
  font-size: 3.5em;
  color: rgba(0, 0, 0, 0.2);
}

.primary {
  width: 255px;
  height: 500px;
  position: relative;
  display: inline-block;
}

.second {
  width: 700px;
  position: relative;
  float: right;
}

.file_upload_button {
  position: relative;
  font-size: 1.1em;
  font-weight: 400;
  width: 100px;
  font-family: "Oswald", sans-serif;
  padding: 5px 22px 10px;
  margin-bottom: 3px;
  display: inline-block;
  border: 0;
  background: #329dc4;
  color: #fff;
  border-radius: 3px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
}

.file_upload_button:before {
  content: 'Cambiar imagen';
  text-align: center;
  cursor: pointer;
  text-transform: uppercase;
}

.file_upload_button input {
  position: absolute;
  left: 0;
  width: 127px;
  opacity: 0;
  background-color: white;
  margin-left: 7px;
  cursor: pointer;
}

.avatar {
  position: relative;
  float: left;
  background-color: #2d3b4d;
  display: inline-table;
  width: 100%;
  height: 100%;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.2);
}

.avatar img {
  position: relative;
  border: 8px solid #1dae90;
  width: 160px;
  height: 160px;
  border-radius: 50%;
  left: 18%;
  margin-top: 10px;
}

.error-parrafo {
  color: #329dc4;
  font-size: 2.3em;
}

.content-event-enable,
.content-event-disable {
  font-size: 1.4em;
  margin-bottom: 10px;
  border-radius: 3px;
  padding: 10px;
  -webkit-box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.2);
}

.content-event-enable {
  background-color: #2d3b4d;
}

.content-event-enable p {
  color: white;
}

.content-event-enable h5 {
  color: #329dc4;
}

.content-event-disable {
  background-color: rgba(0, 0, 0, 0.05);
}

.content-event-disable p {
  color: rgba(0, 0, 0, 0.5);
}

.content-event-disable h5 {
  color: #329dc4;
}

.form-event {
  background-color: #1dae90;
  -webkit-box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.2);
  max-width: 700px;
  height: 122px;
  position: relative;
  margin: 0px 0px 20px 0px;
  border-radius: 3px;
  padding: 5px;
}

.form-event form {
  padding: 0px;
  margin: 0px;
  height: 100%;
}

.form-event form textarea {
  font-size: 1.5em;
  width: 100%;
  border: none;
  height: 65px;
  resize: none;
  position: relative;
  display: block;
  margin-bottom: 12px;
}

.form-event input[type="date"] {
  padding: 2px 5px 2px;
  border-radius: 3px;
  border: none;
  -webkit-box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.9);
}

.form-event input[type="submit"] {
  font-size: 1.3em;
  padding: 10px 35px 10px;
  margin-bottom: 3px;
  background: #1dae90;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.9);
  box-shadow: inset 0 0 0 2px rgba(255, 255, 255, 0.9);
  float: right;
}

.form-event:after {
  content: "";
  position: absolute;
  height: 40px;
  width: 40px;
  top: 0%;
  left: -36px;
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  width: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 15px solid #1dae90;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
  border-color: #1dae90;
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;
}

select:focus,
input[type="file"]:focus,
input[type="radio"]:focus,
input[type="checkbox"]:focus {
  outline: none;
  border: 2px solid #1dae90;
}

input[type="submit"],
input[type="image"] {
  font-size: 1.3em;
  font-weight: 400;
  font-family: "Oswald", sans-serif;
  padding: 5px 22px 10px;
  margin-bottom: 3px;
  display: inline-block;
  cursor: pointer;
  border: 0;
  background: #1dae90;
  color: #fff;
  text-transform: uppercase;
  border-radius: 3px;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
  -webkit-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.1);
  appearance: none;
}

input[type="submit"]:hover,
input[type="image"]:hover {
  color: #fff;
  background: #1bcaa5;
}

input[type="submit"]:active,
input[type="image"]:active {
  background: #228f79;
}

/* ---------- GENERAL ---------- */

h3 {
  margin: 0;
}

fieldset {
  border: none;
  margin: 0;
}

fieldset a {
  color: #999;
}

fieldset a:hover {
  color: #1dae90;
}

input {
  border: none;
  font-family: inherit;
  font-size: inherit;
  margin: 0;
  outline: none;
  -webkit-appearance: none;
}

input[type="submit"] {
  cursor: pointer;
}

.clearfix {
  zoom: 1;
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}

.clearfix:after {
  clear: both;
}

/* ---------- BUTTON ENABLE/DISABLE---------- */

.button-canceled,
.button-enable {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  /* TODO: prefix */
  margin: 0 auto;
  position: relative;
  display: block;
  position: relative;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: border 400ms ease-in-out;
  transition: border 400ms ease-in-out;
}

.button-canceled button,
.button-enable button {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 0;
  margin: -15px 0 0 -15px;
  cursor: pointer;
}

.mark {
  position: absolute;
  display: block;
  top: 0;
  -webkit-transition: all 400ms ease-in-out;
  transition: all 400ms ease-in-out;
}

.button-enable {
  border: 35px solid #f15062;
}

.button-enable .mark {
  background-color: #fff;
  height: 30px;
  width: 4px;
}

.button-enable .x {
  right: 14px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.button-enable .xx {
  left: 12px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.button-enable:hover {
  border: 4px solid #1dae90;
  border-color: #1dae90;
}

.button-enable:hover .mark {
  background-color: #1dae90;
}

.button-enable:hover .mark.x {
  right: 5px;
  top: -3px;
  height: 35px;
}

.button-enable:hover .mark.xx {
  height: 15px;
  top: 15px;
  left: 5px;
}

.button-canceled {
  border: 4px solid #1dae90;
  border-color: #1dae90;
}

.button-canceled .mark {
  background-color: #1dae90;
  height: 30px;
  width: 4px;
}

.button-canceled .mark.x {
  right: 5px;
  top: -3px;
  height: 35px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.button-canceled .mark.xx {
  height: 15px;
  top: 15px;
  left: 5px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

.button-canceled:hover {
  border: 35px solid #f15062;
}

.button-canceled:hover .mark {
  top: 0;
  background-color: #fff;
  height: 30px;
  width: 4px;
}

.button-canceled:hover .x {
  right: 14px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.button-canceled:hover .xx {
  left: 12px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

/* ---------- LOGIN-FORM ---------- */

.login-form fieldset {
  padding: 20px;
  position: relative;
  width: 300px;
  margin: 0 auto;
}

.login-form fieldset span {
  font-size: 2.3em;
  float: right;
  position: relative;
  top: 33px;
  color: rgba(0, 0, 0, 0.22);
}

.login-form fieldset p {
  color: rgba(0, 0, 0, 0.5);
}

.login-form input[type="text"],
.login-form input[type="password"],
.login-form input[type="email"] {
  font-size: 1.4em;
  border: 1px solid #dcdcdc;
  padding: 12px 10px;
  width: 100%;
  margin-bottom: 10px;
}

.login-form input[type="text"]:focus,
.login-form input[type="password"]:focus,
.login-form input[type="email"]:focus {
  border: 1px solid #1dae90;
}

.login-form input[type="submit"] {
  background: #329dc4;
  border-radius: 3px;
  color: #fff;
  float: right;
  font-weight: bold;
  margin-top: 20px;
  padding: 12px 20px;
  width: 100px;
}

.login-form input[type="submit"]:hover {
  background: #3babd4;
}

.login-form input[type="submit"]:active {
  background: #3888a5;
}

/*--------------------TAB---------------------------*/

.contenedor-tabs {
  max-width: 500px;
  margin: 50px auto 0;
  position: relative;
}

.tab div {
  background: white;
  -webkit-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.12);
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.12);
  width: 100%;
  height: auto;
  position: absolute;
  top: 12em;
  line-height: 1.2;
  z-index: 5;
  opacity: 0;
  -webkit-transition: opacity 1s ease, top 1s ease, visibility 1s ease;
  transition: opacity 1s ease, top 1s ease, visibility 1s ease;
  border-radius: 0 0 5px 5px;
  visibility: collapse;
}

/*crea la pestaña visual*/

.tab .tab-e {
  float: left;
  width: 50%;
  min-width: 85px;
  padding: 13px 0 13px 0;
  background: #2d3b4d;
  text-decoration: none;
  font-size: 1.5em;
  color: white;
  text-align: center;
  position: relative;
  -webkit-transition: background .5s ease;
  transition: background .5s ease;
  z-index: 70;
  /* -------------------------------------
  * Crea el triangulo inferior de la pestaña
  * ------------------------------------- */
}

.tab .tab-e:after {
  content: "";
  height: 8px;
  left: 50%;
  position: absolute;
  bottom: 4px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  width: 8px;
  -webkit-transition: top .5s ease;
  transition: top .5s ease;
}

.tab-e:hover {
  background: #1dae90;
}

/* -------------------------------------
 * Cuando pulsas una Pestaña
 * ------------------------------------- */

.btn-tab:target {
  /*efecto para el div oculto*/
  /*efecto para la pestaña*/
  /*anima el triangulo inferior*/
}

.btn-tab:target + .tab div {
  opacity: 1;
  top: 6.5em;
  visibility: visible;
}

.btn-tab:target + .tab .tab-e {
  -webkit-transition: text-shadow .5s ease;
  transition: text-shadow .5s ease;
  color: #f5f5f5;
  background: #1dae90;
  text-shadow: 0px 0px #19987e, 1px 1px #19987e, 2px 2px #19987e, 3px 3px #19987e, 4px 4px #19987e, 5px 5px #19987e, 6px 6px #19987e, 7px 7px #19987e, 8px 8px #19987e;
}

.btn-tab:target + .tab .tab-e:after {
  bottom: -4px;
  -webkit-transition: bottom .5s ease;
  transition: bottom .5s ease;
  background: #1dae90;
}

/*efecto de redondeo separado para las pestañas*/

.contenedor-tabs .btn-tab:nth-child(1) + .tab .tab-e {
  border-radius: 5px 0 0 0;
}

.contenedor-tabs .btn-tab:nth-child(3) + .tab .tab-e {
  border-radius: 0 5px 0 0;
}

/* -------------------------------------
 * -Percent circle-
 * ------------------------------------- */

.progress-radial {
  float: left;
  margin-right: 30px;
  position: relative;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  background-color: #329dc4;
  /* -------------------------------------
   * Optional circulo central
   * ------------------------------------- */
}

.progress-radial .overlay {
  position: absolute;
  width: 60px;
  height: 60px;
  background-color: #2d3b4d;
  border-radius: 50%;
  margin-left: 20px;
  margin-top: 20px;
  text-align: center;
  line-height: 60px;
  font-size: 2em;
  color: white;
}